<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      href="{{ url_for('static', path='css/styles.css') }}"
      rel="stylesheet"
    />
    <script
      defer
      type="module"
      src="{{ url_for('static', path='js/refresh.js') }}"
    ></script>
  </head>
  <body>
    <header>
      <h1>{{ stop_area_title }}</h1>
      <div id="datetime">
        <span id="date"></span>
        <span id="clock"></span>
      </div>
    </header>
    <main>
      <div id="weatherapi-weather-widget-3"></div><script type='text/javascript' src='https://www.weatherapi.com/weather/widget.ashx?loc=797634&wid=3&tu=1&div=weatherapi-weather-widget-3' async></script><noscript><a href="https://www.weatherapi.com/weather/q/melun-797634" alt="Hour by hour Melun weather">10 day hour by hour Melun weather</a></noscript>
      <div class="table-container">
      <table>
        <tbody></tbody>
      </table>
      </div>
    </main>
  </body>
</html>
